* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding:10px;
  height: 500px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.item {
  background-color: #f1425d;
  padding: 15px;
  margin: 15px;
  color: #fff;
  font-size: 20px;
  /* flex-grow: 1; */
}

.i2 {
    height: 100px;
    order: 1;
    flex: 1;
}

.i4 {
    /* align-self: flex-end; */
    order: -1;
    /* flex-basis: 200px;
    flex-shrink: 0; */
    flex: 0 0 300px;
}